In [2]:
u="abc"
p="1234"
username = input("enter username")
if username == u:
    password = input("enter password")
    if password == p:
        print("welcome"+u)
    else:
        print("invalid password")
else:
    print("invalid username")

enter usernamemurali
invalid username

In [10]:
a=int(input("enter value"))
b=int(input("enter value"))
c=int(input("enter value"))
if a == b == c:
    print("0")
elif(a==b!=c):
    print (c)
elif(b==c!=a):
    print (a)
elif a!=b!=c: 
    print(a+b+c)

enter value12
enter value12
enter value23
23

In [18]:
n=input("enter n value")
k=10
s=0
if len(n)<10 or len(n)>11:
    print ("illegal ISBN")
else:
    n=int(n)
    while n<=0:
        r = n%10
        s = s + r*k
        k = k-1
        n = floor(n/10)
    print(s)    
    if s%11 == 0:
        print("valid ISBN")
    else:
        print("invali ISBN")

enter n value1234567890
0
valid ISBN

In [20]:
n=int(input("enter n value"))
for i in range(1,11):
    print(n," *",i,"=",n*i)

enter n value2
2  * 1 = 2
2  * 2 = 4
2  * 3 = 6
2  * 4 = 8
2  * 5 = 10
2  * 6 = 12
2  * 7 = 14
2  * 8 = 16
2  * 9 = 18
2  * 10 = 20

In [22]:
n=int(input("enter n value"))
for i in range(1,11):
    print(n," *",i,"=",n*i,end="abc\t")

enter n value4
4  * 1 = 4abc	4  * 2 = 8abc	4  * 3 = 12abc	4  * 4 = 16abc	4  * 5 = 20abc	4  * 6 = 24abc	4  * 7 = 28abc	4  * 8 = 32abc	4  * 9 = 36abc	4  * 10 = 40abc

In [23]:
start=int(input("enter start value"))
stop=int(input("enter stop value"))
sum=0
for i in range(start,stop+1):
    s=s+i
print(s)

enter start value1
enter stop value10
55

In [31]:
n=int(input("enter number of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print("\n")

enter number of rows5
*

* *

* * *

* * * *

* * * * *

In [4]:
n=int(input("enter value"))
for i in range(1,n+1):
    for i in range(i+1):
        for j in range(j):
            print("*",end=" ")
    print("\n")

enter value3
*

In [11]:
rows=int(input("enter rows"))
for i in range(1,rows+1):
    for j in range(i+1):
        for k in range(j):
          print("*",end=" ")
        print()
    print()

enter rows5

*


*
* *


*
* *
* * *


*
* *
* * *
* * * *


*
* *
* * *
* * * *
* * * * *

In [14]:
m=0
while True:
    n = input("enter value")
    if n == "stop":
        break
    else:
        k=int(n)
        if m<k:
            m=k
print(m)

enter value34
enter value44
enter value66
enter valuestop
66

In [ ]:
### Strings
 -collection of characters
 -enclosed by '' or ""
### String operations
  -concatination
  -replication
  -membership test
  -slicing 
### String methods

In [16]:
a = "python"
b = 'programming'
c = "234"
print(a+b)
print(a * 3)
print(c * 3)
print("g" in b)
"g" in a

pythonprogramming
pythonpythonpython
234234234
True

False

In [26]:
# slicing - dividing the string into substring by using :operator
k="sai tirumala nvr engineering college "
b='programming'
b[7:10]
b[3:7]
b[-1]
b[-4:-2]
b[7:10:2]
b[::3]
b[::5]
b[::-2]

'gimrop'

In [28]:
a = "python"
k = "sai tirumala nvr engineering college"
print(a+" in "+k[:12]+" "+k[29:])

python in sai tirumala college

In [1]:
# STRING METHODS
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
b="sai tirumala nvr engineering college"
b.capitalize()

'Sai tirumala nvr engineering college'

In [4]:
b.title()

'Sai Tirumala Nvr Engineering College'

In [5]:
a = "STEN"
c = "MethODS In STRingS "
print(c.casefold())
print(a.casefold())
print(c.swapcase())

methods in strings
sten
mETHods iN strINGs

In [6]:
a.center(20)

'        STEN        '

In [7]:
a.center(20,"*")

'********STEN********'

In [8]:
b="sai tirumala nvr engineering college"
b.split()

['sai', 'tirumala', 'nvr', 'engineering', 'college']

In [10]:
b.split('i')

['sa', ' t', 'rumala nvr eng', 'neer', 'ng college']